# Configurações do servidor
PORT=3000

# Google Sheets API
GOOGLE_SHEET_ID=1FPCWbMbL4oMwD_eK6pQQ5tw4xsHtBfWS6Yg4_NpGLDM
GOOGLE_API_KEY=AIzaSyAuxkD6MRgHpWX0bQ-AReLesR3Lj2yoZBk

# OU usar Service Account (recomendado para produção)
# GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service-account@projeto.iam.gserviceaccount.com
# GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
